name: Angular CI

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
         node-version: '16'
         cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build Angular app
        run: npm run build --if-present -- --progress=false
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: angular-dist
          path: dist/
